.form-group {
    width: 50%;
    top: 30px;
    position: relative;
    left: 25%;
    font-size: 20px;
    color: aliceblue;








}

.button {
    top: 30px;
    left: 45%;
    position: relative;
    cursor: pointer;
}



table {



    position: relative;
    width: 20%;
    font-size: 20px;
    color: aliceblue;
    top: 100px;
}