.form-group {
    width: 50%;
    top: 30px;
    position: relative;
    left: 25%;
    font-size: 20px;
    color: aliceblue;
    animation: fadeIn 1.5s 1.7s backwards;




}

.button {
    top: 35px;
    left: 45%;
    position: relative;
    cursor: pointer;
    animation: fadeIn 1.5s 1.7s backwards;

}



table {
    animation: fadeIn 1.5s 1.7s backwards;
    text-decoration-line: underline;


    position: relative;
    width: 20%;
    font-size: 20px;
    color: aliceblue;
    top: 100px;
}