.home-page {
    .text-zone {
        position: absolute;
        left: 25%;
        top: 38%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;




    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;

        font-weight: 400;
        ;

        &::before {


            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;

        }

        &::after {


            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1.5s 1.7s backwards;
            opacity: 0.6;
        }

    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .logo {
        height: 300px;
        width: 200px;
        position: relative;
        border-radius: 20%;
        left: 60%;
        top: 20%;



    }





}