.contact-form{
    width: 50%;
    margin-top: 20px;
    animation: fadeInUp 1s 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    float: right;
    
    
    
    
    
    
    }
    
    input{
        width: 100%;
        border: 5px;
        background: #35c0c0;
        height: 50px;
        font-size: 16px;
        color: rgb(8, 8, 8);
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #ffd700;
        color: antiquewhite;



    }

    textarea{
        width: 100%;
        border: 0;
        background: rgb(37, 175, 175);
        height: 50px;
        font-size: 16px;
        color: rgb(7, 7, 7);
        padding: 20px;
        min-height: 150px;
        box-sizing:border-box;
        border-radius: 4px;
        border: 1px solid #ffd700;
        color: antiquewhite;
        
        
    }

    .btn-primary{
        color: #ffd700;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: right;
        border-radius: 4px;
        cursor: pointer;

    }
    
   
    

